@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Header Styles */

.banner {
  background-image: url("/assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
}

.banner-content img {
  width: 240px;
  height: 240px;
  margin-bottom: 20px;
}

.banner-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-btn {
  padding: 20px;
  border-radius: 16px;
  background: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  margin-top: 20px;
  min-width: 150px;
}

.first-btn a {
  text-decoration: none;
  color: inherit;
}

.first-btn:hover {
  background: white;
  color: black;
  border: 1px solid black;
}
